<div class="row">
  <div class="col-lg-6">
    <nb-card>
      <nb-card-header>Top 10 Symbols (24 hours)</nb-card-header>
      <nb-card-body>
        <top-symbols></top-symbols>
      </nb-card-body>
    </nb-card>
  </div>
  <div class="col-lg-6">
    <nb-card>
      <nb-card-header>24 Hour Profits</nb-card-header>
      <nb-card-body> <pnl-chart></pnl-chart> </nb-card-body>
    </nb-card>
  </div>
</div>
<div class="row">
  <div class="col-lg-6">
    <nb-card>
      <nb-card-header>Trade Count (24 hours)</nb-card-header>
      <nb-card-body>
        <trade-stats></trade-stats>
      </nb-card-body>
    </nb-card>
  </div>
  <div class="col-lg-6">
    <nb-card>
      <nb-card-header>Long / Short Profit (24 hours)</nb-card-header>
      <nb-card-body>
        <long-short></long-short>
      </nb-card-body>
    </nb-card>
  </div>
</div>
